.zoo__container{
  width: 100%;
  header{
    display: flex;
    width: 100%;
    position: fixed;
    grid-template-columns: 2fr 1fr;
    top: 0;
    z-index: 99;
    height: 50px;
    background-color: white;
    ul{
      cursor: pointer;
      padding: 0 10px;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      &:hover{
        background-color: gainsboro;
      
      }
      &:first-child{
        width: 66%;
        &:hover{
          li:not(:first-child){
            color: white !important;
          }
        }
     
        li{
          &:first-child{
            margin-right: 95px;
            &:hover{
              color:white;
            }
          }
          &:not(:first-child){
            color: gainsboro;
          }
        }
      }
      &:last-child{
        width: 34%;
      }
      display: flex;
      li{
        margin-right: 50px;
        font-size: 30px;
        font-weight: 500;
      }
    }
  }
  main {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50vh;
    article {
      cursor: pointer;
      height: 100%;
      display: grid;
      grid-template-rows: 9.2fr 0.8fr;
      img {
        width: 100%;
        height: 100%;
      }
      div {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        padding-left: 10px;
        h3 {
          font-size: 14px;
        }
      }
    }
  }
}